// Utils
@import './utils/variables';
@import './utils/utils';

// base
@import './base/common';
@import './base/logo';
@import './base/buttons';
@import './base/social';

// layouts
@import './layouts/header';
@import './layouts/hero';
@import './layouts/advantage';
@import './layouts/about-work';
@import './layouts/about-team';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio';

// Components
@import './components/modall';
