.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop);

  transition: opacity 250ms var(--cubic-bezer), visibility 250ms var(--cubic-bezer);
}

.modall {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--cubic-bezer);

  background-color: var(--prime-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.15);
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  &__title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }

  &__field {
    display: block;
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--second-color);
  }

  &__wrap-input {
    position: relative;
  }

  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    outline: none;

    border: 1px solid var(--modall-input);
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: var(--acent-color);
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: var(--footer-color);
      box-shadow: 0 0 0 30px var(--footer-color) inset;
      caret-color: var(--prime-color);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: currentColor;

    transform: translateY(-50%);

    .modall__input:hover + &,
    .modall__input:focus + & {
      fill: var(--acent-color);
    }
  }

  &__field-textarea {
    display: block;
    margin-bottom: 20px;
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    color: currentColor;
    outline: none;

    border: 1px solid var(--modall-input);
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: var(--acent-color);
    }

    &::placeholder {
      line-height: 1.14;
      letter-spacing: 0.01em;

      color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (min-width: 1200px) {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__ckeckbox:checked + &__agree &__checked {
    opacity: 1;
  }

  &__ckeckbox:checked + &__agree &__unchecked {
    opacity: 0;
  }

  &__agree {
    margin-right: 8px;
  }

  &__checked {
    opacity: 0;

    
    transition: opacity 250ms var(--cubic-bezer);
  }

  &__unchecked {
    opacity: 1;


    transition: opacity 250ms var(--cubic-bezer);
  }

  &__license {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: var(--second-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__license-link {
    color: var(--acent-color);
  }
}
