.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  color: var(--btn-color);
  background-color: var(--acent-color);

  transition: background-color 250ms var(--cubic-bezer);

  &:hover,
  &:focus {
    background-color: var(--btn-active);
  }

  &--hero-section {
    padding: 10px 24px;

    @media screen and (min-width: 1200px) {
      padding: 10px 32px;
    }
  }

  &--footer-form {
    display: flex;
    align-items: center;

    padding: 10px 30px;

    @media screen and (max-width: 1199px) {
      margin: 0 auto;
    }
  }
}

.btn__icon-send {
  margin-left: 12px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}

/////////////////Modall
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  @include flex-center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: var(--prime-color);

  transition: color 250ms var(--cubic-bezer);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }

  &__icon {
    fill: currentColor;
  }
}

.btn--modall {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
}

/////////////Portfolio
.filter__btn {
  padding: 6px 22px;
  background-color: var(--second-bgc);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  transition: color 250ms var(--cubic-bezer), background-color 250ms var(--cubic-bezer),
    box-shadow 250ms var(--cubic-bezer);

  &:hover,
  &:focus {
    color: var(--btn-color);
    background-color: var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
