.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;

  color: var(--btn-color);
  background-color: var(--acent-color);
  &:hover,
  &:focus {
    background-color: var(--btn-active);
  }
}

.hero-section__btn {
    padding: 10px 24px;
}
