body {
  font-family: var(--prime-font);
  color: var(--prime-color);
  background-color: var(--prime-bgc);
  letter-spacing: 0.03em;
  font-size: 14px;

  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.active {
  transition: color 250ms var(--cubic-bezer);

  &:focus,
  &:hover {
    color: var(--acent-color);
  }
}

.navigation__link.navigation__link--current {
  position: relative;
  color: var(--acent-color);

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border: 1px solid var(--acent-color);
      border-radius: 2px;
      background-color: var(--acent-color);
    }
  }
}

///////title
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.7;
  }
}

.social-footer__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--footer-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
