.logo {
  display: block;
  flex-grow: 0;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--acent-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &--header {
    padding: 16px 0;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 88px;
      padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 88px;
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 92px;
    }
  }

  &--footer {
    display: block;
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }

  &__header {
    color: var(--logo-header-color);
  }

  &__footer {
    color: var(--footer-color);
  }
}
