.header-page {
  background-color: var(--prime-bgc);

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  border-bottom: 1px solid var(--line-header);

  &__wraper {
    display: flex;

    @media screen and (max-width: 767px) {
      align-items: center;
      justify-content: space-between;
    }
  }
}

.menu {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding: 48px 40px;

    width: 100%;
    height: 100vh;

    transform: translatex(-101%);
    background-color: var(--prime-bgc);

    transition: transform 250ms var(--cubic-bezer);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &.is-open {
    transform: translatex(0);
  }

  &-icon {
    fill: currentColor;
  }
}

.js-open-menu,
.js-close-menu {
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: currentColor;

    @media screen and (max-width: 767px) {
      display: flex;

      font-size: 40px;
      line-height: 1.18;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    @media screen and (min-width: 768px) {
      padding: 32px 0;
      &:not(:last-child) {
        margin-right: 50px;

        line-height: 1.14;
        letter-spacing: 0.02em;
      }
    }

    @media screen and (min-width: 1200px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }

  &__link--current {
    position: relative;
    color: var(--acent-color);

    @media screen and (min-width: 768px) {
      &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        border: 1px solid var(--acent-color);
        border-radius: 2px;
        background-color: var(--acent-color);
      }
    }
  }
}

.contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-color);

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;

    font-size: 34px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;

    line-height: 1.14;
  }

  &__item {
    @media screen and (max-width: 767px) {
      &:not(:first-child) {
        margin-bottom: 32px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__tel {
    color: currentColor;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      color: var(--acent-color);
    }
  }

  &__mail {
    color: currentColor;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: block;
      margin-bottom: 64px;
      font-size: 24px;
      line-height: 1.67;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 8px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}

.contact-social {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 479px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item {
    padding: 0 10px;

    @media screen and (min-width: 460px) {
      &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }

    @media screen and (max-width: 459px) {
      display: flex;
      justify-content: center;
      flex-basis: 50%;

      &:nth-child(4n + 1),
      &:nth-child(4n + 2) {
        margin-bottom: 10px;
      }

      &:nth-child(2n-1) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;
    color: var(--acent-color);
  }
}
