.hero-section {
  background-image: url(../img/bgc-hero.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    padding: 118px 0;
  }

  @media screen and (min-width: 767px) and (max-width: 1200px) {
    padding: 118px 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);

    @media screen and (min-width: 479px) and (max-width: 767px) {
      width: 360px;
      margin: 0 auto;
    }
    @media screen and (min-width: 768px) {
      width: 696px;
      margin: 0 auto;

      font-size: 44px;
      line-height: 1.36;
    }
  }
}
