.filter {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    justify-content: center;
  }

  &__item {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      max-width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  &__link {
    display: block;
    color: currentColor;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    transition: box-shadow 250ms var(--cubic-bezer);
  }

  &__overlay-wrap {
    position: relative;
    overflow: hidden;
    z-index: -1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-project);
    padding: 77px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--hero-color);

    transform: translateY(101%);
    transition: transform 250ms var(--cubic-bezer);
  }

  &__link:hover &__overlay,
  &__link:focus &__overlay {
    transform: translateY(0);
  }

  &__wrap {
    padding: 20px 24px;
    border-left: 1px solid var(--potfolio-project-border);
    border-right: 1px solid var(--potfolio-project-border);
    border-bottom: 1px solid var(--potfolio-project-border);
    @media screen and (min-width: 480px) and (max-width: 767px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 370px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__descr {
    font-size: 16px;
    line-height: 1.88;

    color: var(--second-color);
  }
}
